/* base */
@import "../css/init/reset.css";
@import "../css/init/layout.css";
@import "../css/init/base.css";

/* 3-rd-party */
/* components */
@import "../css/components/mailing.css";
@import "../css/components/header.css";
@import "../css/components/hero.css";
@import "../css/components/buttons.css";
@import "../css/components/new-album.css";
@import "../css/components/player.css";
@import "../css/components/dark.css";

/* header end */

/* Hero start */
.hero-socials-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0 0 0;
  flex-wrap: wrap;
}

.hero-socials-icon > img {
  margin-top: 10px;
}

/* Hero end */

/* Video-section start */
/* Video-section end */

/* New-album start */

/* New-album end */

/* Dark-tour start */
.paragraph-center {
  text-align: center;
}
/* Dark-tour end */

/* Join-the-mailing start */
/* Join-the-mailing end */

/* Footer start */
.align-left > h4,
p,
img,
h5 {
  text-align: left;
}
/* Footer end */
