/* base */
@import "../css/init/reset.css";
@import "../css/init/layout.css";
@import "../css/init/base.css";

/* 3-rd-party */
/* components */
@import "../css/components/header.css";
/* header start */
/* header end */

/* Hero start */
/* Hero end */

/* Video-section start */
/* Video-section end */

/* New-album start */
.title-30 {
  font-size: 30px;
  line-height: normal;
}
/* New-album end */

/* Dark-tour start */
.paragraph-center {
  text-align: center;
}
/* Dark-tour end */

/* Join-the-mailing start */
/* Join-the-mailing end */

/* Footer start */
.align-left > h4,
p,
img,
h5 {
  text-align: left;
}
/* Footer end */
