header {
  display: flex;
  justify-content: space-between;
  background-color: khaki;
}

.logo {
  padding: 15px 20px 15px 20px;
}

.logo > a {
  font-size: 32px;
}

.nav {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.submeniu {
  display: none;
  flex-direction: column;
  position: absolute;

  background: rgb(133, 5, 5);

  box-shadow: 0px 5px 30px rgb(0 0 0 / 10%);
}

.nav .dropdown:hover .submeniu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  padding: 0 0 0 15px;

  background-color: #ce3c70;
}

.nav .dropdown:nth-child(3):hover .submeniu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  padding: 0 0 0 0;
  margin-right: 100px;
  background-color: #12070a;
}

.socials {
  display: flex;
  align-items: center;
  font-weight: 500;
  background-color: none;
}

.socials a:hover {
  color: #86c9ef;
}

.socials a:first-child:hover,
.socials a:last-child:hover {
  color: #ce3c70;
}

a {
  padding: 15px 20px 15px 0;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
