header {
  display: flex;
  justify-content: space-between;
  background-color: khaki;
}

.logo {
  padding: 15px 20px 15px 20px;
}

.logo > a {
  font-size: 32px;
}

.nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}

.socials {
  display: flex;
  align-items: center;
  font-weight: 500;
  background-color: none;
}

.socials a:hover {
  color: #86c9ef;
}

.socials a:first-child:hover,
.socials a:last-child:hover {
  color: #ce3c70;
}

a {
  padding: 15px 20px 15px 0;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
