header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.logo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo > a {
  font-size: 32px;
  text-decoration: none;
  color: #fff;
  padding: 15px 20px 15px 20px;
}

.nav {
  display: flex;
  margin: 30px 0 0 0;
  position: relative;
}

.nav > a {
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.dropdown {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.dropdown > a {
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
}

.submeniu {
  display: none;
  flex-direction: column;
  padding: 0 20px;
  position: absolute;
}

.submeniu > a {
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
}

.submeniu a:hover {
  color: #8d8d8d;
  border-bottom: 1px solid #fff;
}

.nav .dropdown:hover .submeniu {
  display: flex;
  background-color: #000;
}

.nav .dropdown:nth-child(1):hover .submeniu {
  left: -23px;
}

.nav .dropdown:nth-child(3):hover .submeniu {
  left: 160px;
}

.nav .dropdown:nth-child(4):hover .submeniu {
  left: 258px;
}

.nav .dropdown:nth-child(6):hover .submeniu {
  right: 243px;
}

.nav .dropdown:nth-child(7):hover .submeniu {
  right: 153px;
}

/* .nav {
  display: flex;
  position: relative;
  align-items: center;
  text-transform: uppercase;
}

.nav a {
  padding: 15px 20px 15px 0;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.dropdown {
  display: inline-block;
  position: relative;
  
}

.submeniu {
  display: none;
  flex-direction: column;
  position: absolute;
}

.submeniu a {
  padding: 0 0 20px 0;
  color: #fff;
}

.submeniu a:first-child {
  padding: 20px 0 20px 0;
}

.submeniu a:hover {
  color: #8d8d8d;
}

.nav .dropdown:hover .submeniu {
  display: flex;
  width: 150px;
  top: 20px;
  left: -60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.nav .dropdown:nth-child(2):hover .submeniu {
  left: -35px;
}

.nav .dropdown:nth-child(7):hover .submeniu {
  left: -50px;
}
*/
.socials {
  align-items: center;
  font-weight: 900;
  background-color: none;
}

.socials a {
  padding: 0 15px 0 0;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.socials a:hover {
  color: #86c9ef;
}

.socials a:first-child:hover,
.socials a:last-child:hover {
  color: #ce3c70;
}

/* responsive header */
@media (min-width: 900px) {
  .hamburger {
    display: none;
  }

  .hidden {
    display: none;
  }

  input {
    display: none;
  }
}

@media (max-width: 900px) {
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 1%;
    background-color: #fff;
  }

  .logo a {
    font-size: 50px;
    color: #000;
  }

  .hamburger {
    font-size: 30px;
    cursor: pointer;
    color: #000;
  }

  .nav {
    display: grid;
    flex-direction: column;
    text-align: center;
    transform: translateY(-150%);
    height: 0;
    color: #8d8d8d;
    background-color: #000;
    overflow: hidden;
  }

  .nav a {
    padding: 20px 0;
    color: #8d8d8d;
  }

  .nav a:nth-child(5) {
    border-bottom: 0.5px solid #eaeaea;
  }

  .dropdown {
    padding: 18px 0;
    border-bottom: 0.5px solid #eaeaea;
  }

  .dropdown .fas {
    padding: 3px 0 0 10px;
  }

  .submeniu a:hover {
    color: #ab2eba;
    border-bottom: 1px solid #000000;
  }

  .socials {
    padding: 20px 0;
    border: none;
  }

  .socials a {
    padding: 0 10px;
  }

  .socials a:nth-child(5) {
    border: none;
  }

  .nav .dropdown:nth-child(2):hover .submeniu {
    left: 0px;
  }

  .nav .dropdown:nth-child(7):hover .submeniu {
    left: 0;
  }

  .nav .dropdown:hover .submeniu {
    display: flex;
    top: 18px;
    left: 0px;
    width: 100%;
    margin: 20px 0 -20px 0;
    padding: 0;
    position: inherit;
    background-color: #fff;
  }

  input {
    display: none;
  }

  input:checked ~ .nav {
    height: max-content;
    transform: translateX(0%) translateY(0%);
  }
}
