.hero {
  border-top: 3px solid #fff;
  height: 600px;
  background-image: url(../../img/concert.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.text-element-group {
  margin-top: 80px;
  color: #fff;
}

/* @media (min-width: 576px) {
  .hero {
    height: 80vh;
  }
}

@media (min-width: 768px) {
  .hero {
    height: 50vh;
  }
}

@media (min-width: 992px) {
  .hero {
    height: 80vh;
  }
} */
