.hero {
  border-top: 3px solid #fff;
  height: 600px;
  background-image: url(../../img/concert.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-socials-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0 0 0;
  flex-wrap: wrap;
  cursor: pointer;
}

.hero-socials-icon > a > img {
  margin: 10px;
}
