.new-album > img {
  width: 250px;
  height: 200px;
  margin-left: 20px;
}

.title-30 {
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
}

.socials-icon > a > img {
  margin: 40px 0 0 20px;
  cursor: pointer;
}

.progress-container {
  background-color: #333e5e;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0 0 0;
  height: 4px;
  width: 60%;
}

.progress {
  background-color: #f09531;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/* media */
@media (min-width: 500px) {
  .title-30 {
    font-size: 35px;
    line-height: 55px;
  }
  .new-album > img {
    width: 300px;
    height: 250px;
  }
}

@media (min-width: 576px) {
  .title-30 {
    font-size: 35px;
    line-height: 55px;
  }
  .new-album > img {
    width: 350px;
    height: 300px;
  }
  .socials-icon > img:nth-child(2) {
    margin-left: 20px;
  }
}

@media (min-width: 768px) {
  .title-30 {
    font-size: 48px;
    line-height: 65px;
  }
  .new-album > img {
    width: 350px;
    height: 300px;
  }
  .progress-container {
    margin: 10px 0 0 10px;
  }
}

@media (min-width: 992px) {
  .title-30 {
    font-size: 55px;
    line-height: 75px;
  }
  .new-album > img {
    width: 450px;
    height: 400px;
  }
  .progress-container {
    margin: 10px 0 0 20px;
  }
}

@media (min-width: 1200px) {
  .title-30 {
    font-size: 48px;
    line-height: 65px;
  }
  .new-album > img {
    width: 500px;
    height: 450px;
  }
}

@media (min-width: 1400px) {
  .title-30 {
    font-size: 55px;
    line-height: 75px;
  }
  .new-album > img {
    width: 500px;
    height: 500px;
  }
}
