.new-album > img {
  width: 300px;
  height: 300px;
}

.title-30 {
  font-size: 32px;
  line-height: 50px;
  font-weight: bold;
}

.socials-icon > img {
  margin-top: 40px;
}

.progress-container {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 60%;
}

.progress {
  background-color: #e74e08;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/* media */
@media (min-width: 500px) {
  .title-30 {
    font-size: 40px;
    line-height: 55px;
  }
  .new-album > img {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 576px) {
  .title-30 {
    font-size: 40px;
    line-height: 55px;
  }
  .new-album > img {
    width: 450px;
    height: 450px;
  }
  .socials-icon > img:nth-child(2) {
    margin-left: 20px;
  }
}

@media (min-width: 768px) {
  .title-30 {
    font-size: 48px;
    line-height: 65px;
  }
  .new-album > img {
    width: 600px;
    height: 600px;
  }
}

@media (min-width: 992px) {
  .title-30 {
    font-size: 55px;
    line-height: 75px;
  }
  .new-album > img {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 1200px) {
  .title-30 {
    font-size: 48px;
    line-height: 65px;
  }
  .new-album > img {
    width: 500px;
    height: 500px;
  }
}
@media (min-width: 1400px) {
  .title-30 {
    font-size: 55px;
    line-height: 75px;
  }
  .new-album > img {
    width: 500px;
    height: 500px;
  }
}
