.background {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(15px);
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(5px);
}

.video-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 70vw;
  height: 59vh;
  box-shadow: 32px 31px 55px 23px rgba(11, 22, 25, 0.71);
  -webkit-box-shadow: 32px 31px 55px 23px rgba(11, 22, 25, 0.71);
  -moz-box-shadow: 32px 31px 55px 23px rgba(11, 22, 25, 0.71);
}
